.profile-page {
    width: 85vw;
}

.profile-display {
    margin-top: 2rem;
}

.profile-numbers {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.profile-number {
    display: flex;
    flex-direction: row;
}

.profile-section {
    left: 0;
    margin: 1rem 0;
}

.profile-section-title {
    border-bottom: 2px solid #737373;
    font-weight: 600;
    padding-bottom: 0.2rem;
}

.profile-section-title h4 {
    margin: 0;
}