* {
    list-style: none;
}

li {
    text-align: left;
}

.settings-layout {
    display: flex;
    flex-direction: column;
}

.settings-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    top: 5rem;
    font-weight: bold;
}

.settings-main {
    width: 20rem;
}

.settings-section {
    padding: 0.5rem 1rem 0.75rem;
}

.settings-section:hover {
    cursor: pointer;
}

@media (min-width: 600px) {
    .settings-layout {
        flex-direction: row;
    }

    .settings-nav {
        left: 0;
        flex-direction: column;
        text-align: left;
        padding-left: 1rem;
        position: absolute;
    }

    .settings-section {
        padding: 2.5rem 1rem 2.5rem;
    }

    .settings-section:hover {
        border-right: var(--blue) 3px solid;
    }
}