.button {
    font-size: var(--fs-button);
    background-color: var(--blue);
    border-radius: var(--radius-md);
    padding: var(--space-xs) var(--space-md);
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 48em) {
    button {
        font-size: var(--fs-button);
        padding: 1rem 2rem;
    }
}

@media (min-width: 64em) {
    button {
        padding: 1.25rem 2.5rem;
    }
}

@media (min-width: 80em) {
    button {
        padding: 1.5rem 2.75rem;
    }
}