.input-form {
    margin-bottom: 2rem;
}

.input-set {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 3rem 0;
    padding: 1rem 0;
    width: 90%;
    max-width: 95%;
}

.input-field {
    border: none;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.input-field input {
    height: 3rem;
    padding: 1rem;
    border-radius: 20px;
    max-width: 20rem;
    max-height: 15rem;
    background-color: var(--white);
    color: var(--secondary);
}