.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6.75%;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 5vw;
    z-index: 1000;
    box-shadow: var(--shadow-md);
    text-decoration: none;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-right {
    position: relative;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6em;
    padding-right: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.hamburger {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    padding: 1rem 2rem;
    z-index: 10;
}

.hamburger .bar {
    display: block;
    width: 2rem;
    height: 0.25rem;
    margin: 0.3rem auto;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.desktop-menu {
    display: none;
}

nav.menu {
    display: none;
    z-index: 1001;
    flex-direction: column;
    position: absolute;
    margin: 0;
    top: 100%;
    right: 0;
    /* left: 10%;
    width: 70%; */
    text-align: center;
    background-color: transparent;
    padding: 0.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav.menu a {
    display: block;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    text-decoration: none;
    color: var(--secondary);
    font-size: 1.2rem;
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 20px;
    font-weight: bold;
}

nav.menu.open {
    display: flex;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 0.5rem;
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -0.5rem;
}

.artist-search {
    display: block;
    width: 20em;
    height: auto;
    max-width: 300px;
    padding: 0.5rem;
    margin-right: 2rem;
    border-radius: 4px;
    font-size: 0.8rem;
    border-radius: 1rem;
    display: none;
}

.search-icon {
    display: block;
}

.desktop-hamburger {
    display: none;
}

@media (min-width: 48em) {

    .header {
        width: 92.5vw;
    }

    /* hamburger hidden on large screens */
    .hamburger {
        display: none;
    }

    /* horizontal nav visible on large screens */
    nav.menu {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        border: none;
        box-shadow: none;
        width: auto;
    }

    nav.menu a {
        color: var(--white);
        background-color: transparent;
        border: none;
    }

    .artist-search {
        display: block;
    }

    /* hide the small icon on large screens */
    .search-icon {
        display: none;
    }

    .desktop-hamburger {
        display: block;
    }

    .desktop-menu.open {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100%;
        /* min-width: 160px;
        min-height: 200px; */
        background-color: transparent;
        color: var(--white);
        padding: 0.75rem;
        box-shadow: var(--shadow-md);
        z-index: 1002;
    }

    .desktop-menu a,
    .desktop-menu button {
        display: block;
        width: 100%;
        color: var(--white);
        background: none;
        border: none;
        padding: 0.75rem 1rem;
        text-align: left;
        cursor: pointer;
        font-size: 0.95rem;
        background-color: blue;
        text-align: center;
        margin: 0.5rem 0;
        border-radius: 20px;
    }

    .desktop-menu a:hover,
    .desktop-menu button:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}